<div class="container" >
    <div class=" aceuil-admin">
        <h1 class="mb-5">Bienvenue {{adminname}}</h1>
        <div>
            <h5>Voulez-vous effectuer certaines modifications ?</h5>
        </div>
    </div>

    <div class="action-admin">
        <a href="#" class="action mb-5">
            <div>
                <img src="/assets/service.png" alt="" srcset="">
            </div>
            <div>
                <h5>Vos services</h5>
                <ul>
                    <li>modifier les types de services</li>
                    <li>ajouter des services</li>
                    <li>suprimer des services</li>
                </ul>
            </div>
        </a>
        <a  href="#" class="action mb-5" >
            <div>
                <img src="/assets/rdv-admin.png" alt="" srcset=""> 
            </div>
            <div>
                <h5>Vos rendez vous</h5>
                <ul>
                    <li>modifier disponibilite</li>
                    <li>consulter vos rendez-vous</li>
                    <li>confirmer ou decliner rendez-vous</li>
                </ul>
            </div>
        </a>
    </div>




    
</div>