<div class="presentation">
    <div class="presentation-content p-5">
    </div>
</div>   


<div class="container text-center col-10 " >
    <img src="/assets/succes.png" alt="" srcset="">
    <h2>Rendez vous confirmé!</h2>
    <p>Votre rendez-vous est confirmé avec succès ! Un de nos agents vous contactera bientôt au numéro de téléphone que vous avez fourni lors de la confirmation du rendez-vous : {{contact}}</p>
    <button class="btn btn-primary" routerLink="/acceuil">page acceuil</button>
</div>